* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-color: #011528;
    overflow-x: hidden;
}

header {
    width: 95%;
    height: 100px;
    background-color: #011528;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        width: 80%;
        color: #F3F4F5;
        display: flex;
        justify-content: end;
        align-items: center;
        list-style-type: none;

        &:last-of-type {
            flex-wrap: wrap;

            div {
                width: 13.33333%;
                height: 1px;
                padding: 1.5px 40px;
                margin-top: 5px;
                display: flex;
                justify-content: start;
                align-items: center;
                overflow: hidden;

                div {
                    width: 100%;
                    height: 1px;
                    background-color: #F3F4F5;
                    transition: 1s;
                }

                &:first-of-type>div:first-of-type {
                    transition-property: transform, opacity;
                    transition-delay: 0, 0;
                }

                &:first-of-type>div:last-of-type {
                    transition-property: transform;
                    transition-delay: .2s;
                }

                &:last-of-type>div:first-of-type {
                    transition-property: transform, opacity;
                    transition-delay: 1s, 1s;
                }

                &:last-of-type>div:last-of-type {
                    transition-delay: 1.2s;
                }
            }
        }

        >li {
            width: 13.33333%;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 100;
            transition: .4s;
            position: relative;

            &::selection {
                background-color: #BFA888;

            }

            &:hover {
                color: #BFA888;
            }

            &:hover .second-layer {
                visibility: visible;
                opacity: 1;
            }

            &:nth-of-type(2) ul {
                justify-content: start;
                text-align: start !important;
            }

            >ul {
                width: 180%;
                height: auto;
                list-style-type: none;
                position: absolute;
                top: 58px;
                left: 0;
                display: flex;
                justify-content: start;
                align-items: center;
                flex-wrap: wrap;
                background-color: #F3F4F5;
                padding: 20px;
                visibility: hidden;
                opacity: 0;
                transition: .5s;
                text-align: end !important;
                border: .5px solid #0000004a;
                z-index: 10;

                >li {
                    width: 100%;
                    color: #0000008e;
                    font-size: 12px;
                    font-weight: 100;
                    margin: 5px;
                    padding: 5px 10px 5px 5px;
                    position: relative;

                    >i {
                        color: #00000097;
                        position: absolute;
                        left: 0px;
                        padding-left: 5px;
                        font-weight: 400;
                    }

                    &:hover {
                        background-color: #BFA888;
                        color: #0000008e;
                    }

                    &::selection {
                        background-color: #BFA888;
                    }

                    &:hover ul {
                        visibility: visible;
                        opacity: 1;
                    }

                    >ul {
                        width: 140%;
                        position: absolute;
                        left: -155%;
                        top: -100%;
                        border: .5px solid #0000004a;
                        visibility: hidden;
                        opacity: 0;
                        transition: .5s;
                        z-index: 11;
                    }
                }
            }
        }

        .lines:hover div>div {
            transform: translateX(-100px)
        }

        .lines:hover div:first-of-type>div:first-of-type,
        .lines:hover div:last-of-type>div:first-of-type {
            opacity: 0;
        }
    }

    // logo 
    >span {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        >img {
            width: 50%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

// video 
.second-part {
    width: 100%;
    height: 75vh;
    position: relative;

    >video {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;

        source {
            width: 100%;
            height: 100%;
        }
    }

    >h5 {
        color: #F3F4F5;
        font-size: 12px;
        letter-spacing: 5px;
        font-weight: 100 !important;
        text-transform: uppercase;
        z-index: 20;
        position: absolute;
        left: 50px;
        bottom: 25vh;
        font-family: 'PT Sans', sans-serif;
    }

    >h3 {
        color: #F3F4F5;
        font-size: 75px;
        letter-spacing: 5px;
        font-weight: 100;
        text-transform: uppercase;
        z-index: 21;
        position: absolute;
        left: 50px;
        bottom: 10vh;
        font-family: 'Playfair Display', serif;
    }
}

// form and picture box
.third-part {
    width: 100%;
    height: 200vh;
    background-image: url(image/bg-1.jpeg);
    background-position: center;
    background-size: 120% 120%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    >.form {
        width: 90%;
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 80px;

        >label {
            margin: 0 10px;
            color: #BFA888 !important;
            position: relative;
            font-family: 'PT Sans', sans-serif;

            >input {
                width: 300px;
                height: 60px;
                background-color: #011528;
                border: .25px solid #f3f4f59c;
                outline: none;
                color: #F3F4F5;
                padding: 0 10px;
                cursor: pointer;
                color-scheme: dark;
                font-size: 15px;
                font-weight: 100;
                font-family: 'PT Sans', sans-serif;
                text-transform: uppercase;
                font-weight: 100;
            }

            &:nth-of-type(1)::before,
            &:nth-of-type(2)::before,
            &:nth-of-type(3)::before {
                color: #F3F4F5;
                font-size: 12px;
                font-weight: 100;
                position: absolute;
                top: -25px;
                left: 0;
            }

            &:nth-of-type(1)::before {
                content: 'CHECK-IN';
            }

            &:nth-of-type(2)::before {
                content: 'CHECK-OUT';
            }

            &:nth-of-type(3)::before {
                content: 'GUESTS:';
            }

            &:nth-of-type(4)>input {
                background-color: #BFA888;
                letter-spacing: 3px;
                transition: .4s;

            }

            &:nth-of-type(4):hover input {
                background-color: #bf9965;
                letter-spacing: 3px;

            }

            // ready code 

            input[type="date"]::-webkit-datetime-edit,
            input[type="date"]::-webkit-inner-spin-button,
            input[type="date"]::-webkit-clear-button {
                color: #ffffff00;
                position: relative;
            }

            input[type="date"]::-webkit-datetime-edit-year-field {
                position: absolute !important;
                border-left: 1px solid #8c8c8c00;
                padding: 2px;
                color: #F3F4F5;
                left: 56px;
            }

            input[type="date"]::-webkit-datetime-edit-month-field {
                position: absolute !important;
                border-left: 1px solid #8c8c8c00;
                padding: 2px;
                color: #F3F4F5;
                left: 26px;
            }


            input[type="date"]::-webkit-datetime-edit-day-field {
                position: absolute !important;
                color: #F3F4F5;
                padding: 2px;
                left: 4px;

            }
        }

    }

    // title 
    .title {
        width: 70%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: end;
        flex-wrap: wrap;

        >span,
        >p {
            font-size: 14px;
            color: #BFA888;
            text-align: center;
        }

        >span {
            letter-spacing: 3px;
        }

        >p {
            margin-top: -90px;
            width: 70%;
            font-size: 15px;
            line-height: 40px;
            font-weight: 100 !important;
        }

        >h2 {
            margin-top: -90px;
            font-size: 70px;
            color: #F3F4F5;
            font-family: 'Playfair Display', serif;
        }
    }

    // picture 
    .pic {
        width: 75%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        >figure {
            width: 45%;
            height: 70%;
            border: 1px solid rgba(173, 216, 230, 0.332);
            margin: 0 10px;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-wrap: wrap;
            position: relative;

            >img {
                width: 100%;
                height: 75%;
                object-fit: cover;
                object-position: center;
                padding: 10px;
            }

            >figcaption {
                color: #F3F4F5;
                font-size: 20px;
                font-family: 'Playfair Display', serif;
                letter-spacing: 5px;
            }

            div {
                width: 100%;
                text-align: center;
                color: #BFA888;
                font-size: 15px;
                font-family: 'PT Sans', sans-serif;
            }

            >.bottom-right {
                width: 0;
                height: 1px;
                background-color: #BFA888;
                position: absolute;
                bottom: 0;
                right: 0;
                transition: .5s;
                transition-delay: .5s;
            }

            >.bottom-left {
                width: 1px;
                height: 0;
                background-color: #BFA888;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: .5s;
                transition-delay: 0s;
            }

            >.top-left {
                width: 0;
                height: 1px;
                background-color: #BFA888;
                position: absolute;
                top: 0;
                left: 0;
                transition: .5s;
                transition-delay: .5s;
            }

            >.top-right {
                width: 1px;
                height: 0;
                background-color: #BFA888;
                position: absolute;
                top: 0;
                right: 0;
                transition: .5s;
                transition-delay: 0s;
            }

            &:hover .top-left {
                width: 100%;
                transition-delay: 0s;
            }

            &:hover .top-right {
                height: 100%;
                transition-delay: 0s;
                transition-delay: .5s;
            }

            &:hover .bottom-right {
                width: 100%;
                transition-delay: 0s;
            }

            &:hover .bottom-left {
                height: 100%;
                transition-delay: 0s;
                transition-delay: .5s;
            }

        }
    }

    // number 
    .text-number {
        margin-top: -120px;
        width: 100%;
        height: 220px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        h4 {
            width: 250px;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #bfa88868;
            font-size: 110px;
            position: relative;
            font-family: 'Playfair Display', serif;

            &::before {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 12px;
                color: #F3F4F5;
                font-weight: 100;
                letter-spacing: 5px;
                display: flex;
                justify-content: center;
                font-family: 'PT Sans', sans-serif;
            }

            &:nth-of-type(1)::before {
                content: 'PENATIBUS ET MAGNIS';
            }

            &:nth-of-type(2)::before {
                content: 'LEO EGET BIBENDUM';
            }

            &:nth-of-type(3)::before {
                content: 'PRETIUM QUIS SEM';
            }

            &:nth-of-type(4)::before {
                content: 'DONEC SODALES SAGITTIS';
            }
        }
    }
}

.fourth-part {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: end;

    .bg {
        width: 100%;
        height: 100%;
        background-image: url(image/Dark-home-parallax-img-2.jpg);
        background-position: 100% 40%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        >* {
            width: 80%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        >h2 {
            font-size: 90px;
            color: #F3F4F5;
            font-family: 'Playfair Display', serif;
            font-weight: 200;
        }

        .two-boxes>div {
            width: 200px;
            height: 60px;
            margin: 0 30px;
            font-size: 15px;
            font-weight: 100;
            color: #F3F4F5;
            transition: .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            &:first-of-type {
                border: 1px solid #F3F4F5;

                &:hover {
                    color: black;
                    background-color: #F3F4F5;
                }
            }

            &:last-of-type {
                background-color: #BFA888;

                &:hover {
                    background-color: #bf9965
                }
            }
        }
    }
}

// fifth-part
.fifth-part {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: -10%;
    margin-top: 10%;

    .text {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: end;
        align-content: center;
        flex-wrap: wrap;

        h3,
        h5,
        p {
            width: 50%;
            color: #F3F4F5;
            margin: 8px 0;
        }

        h5 {
            width: 70%;
            font-size: 15px;
            color: #BFA888;
            font-weight: 100;
            font-family: 'PT Sans', sans-serif;

        }

        h3 {
            width: 70%;
            font-family: 'Playfair Display', serif;
            letter-spacing: 8px;
            font-weight: 100;
            font-size: 60px;
            position: relative;

            &::before {
                content: 'explore';
                color: #8080802a;
                font-size: 110px;
                position: absolute;
                left: -50px;
                top: -75px;
                z-index: -12;
                text-transform: uppercase;
            }
        }

        >p {
            width: 70%;
            font-size: 15px;
            line-height: 40px;
            letter-spacing: 1px;
            font-weight: 100;
            color: #b0b0b0cb;
        }
    }
}

// sixth-part
.sixth-part {
    width: 100%;
    height: 100vh;
    background-image: url(image/bg-1.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;

    >.map {
        width: 85%;
        height: 70%;
        background-image: url(image/dark-h-rev-1.png);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        margin-right: 5%;

        >.box {
            width: 80%;
            height: 250px;
            display: flex;
            align-items: center;

            >img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                object-position: center;
            }

            &:nth-of-type(1) {
                justify-content: end;

                >figure {
                    width: 50%;
                    height: auto;
                    transform: translate(-120px, 40px);

                    >img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }

                figure::after {
                    content: 'cuba';
                    color: #ffffff;
                    font-size: 12px;
                    position: absolute;
                    left: 50px;
                    top: 300px;
                    z-index: -12;
                    text-transform: uppercase;
                    font-weight: 100;
                    font-family: 'PT Sans', sans-serif;
                    letter-spacing: 4px;
                }

                figure::before {
                    content: 'bahamas';
                    color: #ffffff;
                    font-size: 12px;
                    position: absolute;
                    right: -100px;
                    top: 100px;
                    z-index: -12;
                    text-transform: uppercase;
                    font-weight: 100;
                    font-family: 'PT Sans', sans-serif;
                    letter-spacing: 4px;
                }
            }

            &:nth-of-type(2) {
                justify-content: start;

                >img::after {
                    content: 'saab';
                    color: #F3F4F5;
                }
            }
        }
    }

    .line-2 {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .circle {
            width: 80%;
            height: 1px;
            background-color: #BFA888;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >figure {
                position: relative;
            }

            >figure::after {
                width: 300px;
                color: #F3F4F5;
                position: absolute;
                top: 20px;
                left: -50%;
                transform: translateX(-20%);
            }

            >figure:nth-of-type(1)::after {
                content: 'mexico city';
                transform: translateX(-10%);
            }

            >figure:nth-of-type(2)::after {
                content: 'bahamas';
                transform: translateX(-10%);

            }

            >figure:nth-of-type(3)::after {
                content: 'maiti';
                transform: translateX(-3%);
            }

            >figure:nth-of-type(4)::after {
                content: 'jamaica';
                transform: translateX(-7%);
            }

            >figure:nth-of-type(5)::after {
                content: 'dominican republic';
            }
        }
    }
}

// seventh-part
.seventh-part {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -10%;
    margin-top: 3%;

    .text-2 {
        width: 60%;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        h3,
        h5,
        p {
            width: 50%;
            color: #F3F4F5;
            margin: 8px 0;
            text-align: center;
        }

        h5 {
            width: 70%;
            font-size: 15px;
            color: #BFA888;
            font-weight: 100;
            font-family: 'PT Sans', sans-serif;

        }

        h3 {
            width: 70%;
            font-family: 'Playfair Display', serif;
            letter-spacing: 8px;
            font-weight: 100;
            font-size: 60px;
            position: relative;

            &::before {
                content: 'explore';
                color: #8080802a;
                font-size: 110px;
                position: absolute;
                left: -50%;
                top: -75px;
                transform: translateX(60%);
                z-index: -12;
                text-transform: uppercase;
            }
        }

        >p {
            width: 70%;
            font-size: 15px;
            line-height: 40px;
            letter-spacing: 1px;
            font-weight: 100;
            color: #b0b0b0cb;
        }
    }

    .three-part {
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;

        >div {
            width: 25%;
            height: 85%;
            border: 1px solid #bfa88869;
            margin: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-of-type(2) {
                border: 1px solid #BFA888;
                height: 90%;
            }

            >div {
                width: 90%;
                height: 95%;
                border: 1px solid #f3f4f555;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
                padding: 10px 35px;

                >* {
                    width: 90%;
                    color: #F3F4F5;
                    font-size: 15px;
                    text-align: center;
                    margin: 15px 0;
                    line-height: 30px;
                }

                >h5 {
                    font-size: 20px;
                    font-family: 'Playfair Display', serif;
                    font-weight: 100;
                    letter-spacing: 5px;
                }

                >h3 {
                    width: 90%;
                    font-size: 70px;
                    font-family: 'Playfair Display', serif;
                    font-weight: 400;
                    letter-spacing: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: start;

                    >span {
                        font-size: 30px;
                    }
                }

                >p {
                    font-size: 14px;
                    color: #C8C8C9;
                    font-weight: 100 !important;
                    font-family: 'PT Sans', sans-serif;
                }

                >div {
                    font-size: 12px;
                    font-weight: 100 !important;
                    position: relative;

                    >i {
                        font-size: 15px;
                        position: absolute;
                        margin-left: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: .5s;
                    }

                    &:hover i {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

// eighth-part
.eighth-part {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        width: 140px;
        height: auto;
        object-fit: cover;
        margin: 0 20px;
        transition: .5s;

        &:hover {
            transform: translateY(-15px);
        }
    }
}

// nineth-part
.nineth-part {
    width: 100%;
    height: 95%;

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

// footer 
footer {
    width: 100%;
    height: 70vh;

    >.main-footer {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        >div {
            width: 20%;
            height: 90%;
            display: flex;
            justify-content: start;
            align-content: center;
            flex-wrap: wrap;
            margin: 0 20px;
            padding: 0 20px;

            >* {
                margin: 10px 0;
            }

            >h5 {
                font-size: 20px;
                color: #C8C8C9;
                font-family: 'Playfair Display', serif;
                font-weight: 100;
            }

            >ul>li {
                list-style-type: none;
                margin: 10px 0;

                >a {
                    color: #c2bbb0da;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 100;

                }
            }

            >p {
                line-height: 35px;
                font-size: 14px;
                color: #c2bbb0da;
                font-weight: 100;
            }

            input {
                background-color: #011528;
                border: 1px solid #bfa88857;
                outline: 1px solid #f3f4f500;
                width: 95%;
                height: 50px;
                padding: 10px;
                transition: .5s;

                &:focus {
                    outline: 1px solid #f3f4f5;
                    color: #F3F4F5;
                }
            }

            >img {
                width: 85%;
                height: auto;
                object-fit: cover;

            }

            &:nth-of-type(1) ul {
                width: 85%;
                display: flex;
                justify-content: start;
                align-items: center;

                >li {
                    list-style-type: none;
                    margin-right: 30px;

                    >i {
                        font-size: 15px;
                    }
                }
            }

        }
    }

    .last-box {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #bfa88860;

        >div {
            color: #f3f4f59a;
            font-size: 12px;
            font-weight: 100;
            text-transform: capitalize;

            a {
                color: #f3f4f5;
                font-size: 12px;
                font-weight: 100;
                text-decoration: none;
                text-transform: capitalize;
                cursor: pointer;

                &::selection {
                    color: #f3f4f59a;
                }
            }
        }
    }
}
